<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo Application</title>
</head>
<body>
    <h1>Todo Application</h1>
<div>
    <form action="/" method="post">
        <div>
            <label for="title">Input new task </label>
            <input type="text"
                   id="title"
                   name="title"
                   placeholder="Add new task..."
                   required="required" />

        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>


    <th:block th:each="task : ${tasks}">
        <div th:text="${task.title}">Task Title</div>
    </th:block>
</div>
</body>
</html>